.cmd.stage{background:#251e12;border-color:#594527;color:#ffd985}.stage-token .named{color:#ffd985}
.cmd.slide{font-size:25px;background:#171d2a;border-color:#3e5274;color:#dce9ff}.slide-token{font-size:1.25em;font-weight:950;color:#dce9ff}
